#For Mac developers
.DS_Store
 
[Oo]bj/
[Tt]emp/
[Ll]ibrary
[Bb]uilds/
[Bb]uild/
UnityVS/

#These are files in the root folder of the project
*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs